/*******************\
\      OUTILS       /
 \*****************/
.espace
{
	width:100%; 
	height:15px; 
	background-color:transparent;
}
.centrer
{
	text-align:center;
}
h2
{
	font-family:Roboto, open sans!important;
	font-size:9em!important;
	font-weight:bold!important;
}
h3
{
	font-family:Roboto, open sans!important;
	font-size:3em!important;
	font-weight:bold!important;
}

li
{
	list-style:none;
}
a
{
	text-decoration:none;
}
p
{
	font-size:1.4em;
}

/*******************\
\ CARROUSSEL-HEADER /
 \*****************/	
.carousel-page
{
width:100%;
height:400px;
background-color:#5f666d;
color:white;
}
.carousel-caption
{
	top:20%;
	left:50%!important;
}

/*******************\
\       MENU        /
 \*****************/
.navbar-header
{
	width:38%;
}

/*******************\
\     SERVICE       /
 \*****************/
.service
{
	position:relative;
}
.service img
{
	width:100%;
}
.contenu-service
{
	position:absolute;
	top:10px;
	left:8%;
}
.service-profil
{
	position:absolute;
	top:20%;
	left:10%;
}
.service-statistique
{
	position:absolute;
	top:50%;
	left:10%;
}
.service-communaute
{
	position:absolute;
	top:20%;
	left:75%;
}
.service-exercice
{
	position:absolute;
	top:50%;
	left:75%;
}
.service-profil img
{
	width:70%;
}
.service-statistique img
{
	width:61.5%;
}
.service-communaute img
{
	width:68.5%;
}
.service-exercice img
{
	width:59.5%;
}
/*******************\
\      VIDEO        /
 \*****************/
.video
{
	position:relative;
}
 .video img
 {
	width:59%;
	text-align:center;
 }

.contenu-video
{
	position:absolute;
	top:10.1%;
	left:24.2%;
}

/*******************\
\      EQUIPE       /
 \*****************/
.equipe
{
	position:relative;
}
 .equipe img
{
	width:100%;
}
.contenu-equipe
{
	position:absolute;
	top:0px;
}
.perso1:hover, .perso2:hover, .perso3:hover, .perso4:hover, .perso5:hover
{
	background-color:#00b9c2;
	border:3px solid #fff;
	opacity:0.7;
}
/*******************\
\    PARTENAIRE     /
 \*****************/
.partenaire img
{
	width:100%;
}
/*******************\
\      CONTACT      /
 \*****************/
.contacter
{
	position:relative;
}
.contenu-contact
{
	position:absolute;
	top:30px;
	left:30%;
}
.form-contact
{
	position:absolute;
	top:45%;
	left:5%;
}
 .contacter img
{
	width:100%;
}
#success_message
{
	display: none;
}
.form-group
{
	padding-left: 15px;
    padding-right: 15px;
}
.form-horizontal
{
	width:40%;
}
.well
{
	padding-bottom: 0px!important;
}
.btn-warning
{
    background-color: #00b9c2!important;
    border-color: #fff!important;
}
/*******************\
\      FOOTER       /
 \*****************/
 .footer
 {
	 position:relative;
	 margin:0px;
	 padding:0px;
	 height:120px;
 }
 .footer img
 {
	 width:100%;
 }
 .footer ul
 {
	 padding-left:43.5%;
 }
 .footer li
 {
	 float:left;
	 padding-right:10px;
 }
 .footer h5
 {
	
 }
 .rect
 {
	 padding-top:3px;
	 padding-left:2px;
	 background-color:#fff;
	 width:60px;
	 height:60px;
	 position:absolute;
	 top:-55px;
	 left:48%;
	 border: 2px solid #fff;
	 border-radius: 10px;

 }
 .rect img
 {
	 width:90%;
 }