@media screen and (min-width:1px) and (max-width: 768px){

#buttonleft{
  display: none;
}
    
 #legende{
  display: none;
 }

  .carousel, .item, .active {
      height: auto;
  }

  .carousel-inner {
      height:20%;
  }
  .carousel-caption
  {
  	top:2%;
  	left:50%!important;
  }

  .carousel-caption>h2{
    font-size:8vw;
  }
  .carousel-caption>p{
    font-size:14px;
  }


  .service
  {
    height:auto;
    margin:30px 0 50px 0;
    padding:auto;
    background-image: none;
  }

  .service>h3{
    text-align: center;
    padding:40px;
  }
  .service>ul>li>img{
    padding-right: 30px;
  }
  .char>h5>img{
    width:50%;
    margin-bottom:60px;
  }

  .logo-part>article>h5>img{
    width:50%;
    margin-bottom: 30px;
  }

  .contacter
  {
  	background-image: url("../images/fond-contact.jpg");
    background-size: cover;
    height:750px;
  }

  .contacter>h3{
    color:#fff;
    padding:40px 40px 10px 40px;
    text-shadow: 2px 2px #000;

  }
  .row{
    margin:0;
    padding:0;
    width:100%;
  }
  .contacter>p{
    color:#fff;
    text-shadow: 2px 2px #000;

  }

  .form-contact
  {
  	position:normal;
    width:90%;
  }

  .form-horizontal
  {
  	width:100%;

  }


  .video
  {
   height:700px;
   margin-bottom: 20px;
  }

  .contenu-video
  {
   background-image: url("../images/ordi-video.png");
   background-repeat:no-repeat;
   background-size: contain;
   height:auto;
   width:430px;
   height:800px;
   margin:auto;

  }
  video{
    position:relative;
    top:18px;
    left:1px;
    height:auto;
    width:380px;
  }
}

/*TRES PETITE RESOLUTION : SUPPRESION DE l'IMAGE DE L'IMAC*/

  @media screen and (min-width:1px) and (max-width: 452px){
 .contenu-video{
   background-image: none;
   width: 100%;
 }
 video{width:90%;}

  }

.fondordi{
  padding-top: 30px;
}

.fondordi img{
  height: 100px;
  width: 100px;
}

.service {
  background-image: url("../images/image-service.jpg") no-repeats;
}