{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}
<section style="margin-left:50px; margin-top:70px">
  {% include 'config/progress.html.twig' %}
  <h4>Objectif</h4>
  <a href="/" class="btn btn-success" role="button">Appliquer et terminer la configuration</a>
</section>
{% endblock %}
