{% extends 'base.html.twig' %}
{% block body %}
<title>Choix de vos objectifs</title>
{% include 'config/progress.html.twig' %}
<li>test</li>
<a href="/">Appliquer et terminer la configuration</a>
<a href="/configure">Annuler</a>
{% endblock %}
