{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}
<section style="margin-left:50px; margin-top:70px">
  {% include 'config/progress.html.twig' %}
  <h4>Objectifs</h4>
  <hr>
  <div>
    Marathon
  </div>

  <div>
    Préparation physique pré-saison
  </div>

  <div>
    Amincissement
  </div>

  <div>
    Amaigrissement
  </div>

  
  <a href="/" class="btn btn-success" role="button">Appliquer et terminer la configuration</a>
</section>
{% endblock %}
