<div style="display:flex;justify-content: space-between;padding-top:20px; padding-left:25px; padding-right:25px">
  <a href="/configure">1. Votre montre</a>
  <a href="/configure/sports">2. Vos sports</a>
  <a href="/configure/objectifs">3. Vos objectifs</a>
</div>
<div class="progress" style="margin:20px;">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}"
  aria-valuemin="0" aria-valuemax="100" style="width:40%">
    {{progress}}% complété
  </div>
</div>
