
<div class=well>
<div style="display:flex;justify-content: space-between;padding-top:20px; padding-left:25px; padding-right:25px">
  <a href="/configure">1. Vos appareils</a>
  <a href="/configure">2. Vos données</a>
  <a href="/configure/sports">3. Vos sports</a>
  <a href="/configure/objectifs">4. Vos objectifs</a>
</div>
<div class="progress" style="margin:20px;">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
    {{progress}}% complété
  </div>
</div>
</div>
<div style="padding:0 40px 0px 40px">
<h1> Paramètres </h1>
<hr>
