
{% extends 'base.html.twig' %}

{% block body %}
{% include 'config/progress.html.twig' %}

<h1> Félicitations vous avez entièrement configuré votre compte Apifit ! </h1>
<h4> Voici un récapitulatif de vos informations </h4>
<ul>
</ul>

<a href="/">Revenir au Dashboard</a>
{% endblock %}
