{% extends 'base.html.twig' %}
{% block body %}
<div class=" menu_defis panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bars"></i> Tri
    </div>
    <div class="sub_defis">
    Sport :<br/><br/>
    <select class="form-control" id="sel1">
      <option>Football</option>
      <option>Running</option>
      <option>Ski</option>
      <option>Tennis</option>
      <option>Basket</option>
      <option>Rugby</option>
      <option>Boxe</option>
      <option>Natation</option>
      <option>Pétanque</option>
    </select><br/><br/>
    Niveau :<br/><br/>
    <div class="checkbox">
      <label><input type="checkbox" value=""><i class="fa fa-star"></i></label>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" value=""><i class="fa fa-star"></i><i class="fa fa-star"></i></label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value=""><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></label>
    </div><br/><br/>
    Point Xp :<br/><br/>
    <div class="checkbox">
      <label><input type="checkbox" value="">10Xp</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">20Xp</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="">30Xp</label>
    </div><br/><br/>
    </div>
  </div>
</div>

<div class="zone_affichage container">

  <div class="row active-with-click">
      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Red">
              <h2>
                  <span>Challenge Téléfoot</span>
                  <strong>
                      <i class="fa fa-fw fa-star"></i>
                      <i class="fa fa-fw fa-star"></i>
                  </strong>
              </h2>
              <div class="mc-content">
                  <div class="img-container">
                      <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                  </div>
                  <div class="mc-description">
                      Touché la barre transversale du milieu du terrain
                  </div>
              </div>
              <a class="mc-btn-action">
                  <i class="fa fa-bars"></i>
              </a>
              <div class="mc-footer">
                  <i class="fa fa-rocket"></i> Sport : Football<br/>
                  <i class="fa fa-gamepad"></i> 20Xp
              </div>
          </article>
      </div>

      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Purple">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
          </article>
      </div>

      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Indigo">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
          </article>
      </div>
    </div>
    <div class="row active-with-click">
      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Light-Blue">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
            </article>
      </div>
      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Cyan">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
          </article>
      </div>


      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Light-Green">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
          </article>
      </div>
    </div>

    <div class="row active-with-click">
      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Brown">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
          </article>
      </div>

      <div class="col-md-3 col-sm-8 col-xs-8">
          <article class="material-card Blue-Grey">
            <h2>
                <span>Challenge Téléfoot</span>
                <strong>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                    Touché la barre transversale du milieu du terrain
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer">
                <i class="fa fa-rocket"></i> Sport : Football<br/>
                <i class="fa fa-gamepad"></i> 20Xp
            </div>
          </article>
      </div>
  </div>
</div>
<script>
$(function() {
      $('.material-card > .mc-btn-action').click(function () {
          var card = $(this).parent('.material-card');
          var icon = $(this).children('i');
          icon.addClass('fa-spin-fast');

          if (card.hasClass('mc-active')) {
              card.removeClass('mc-active');

              window.setTimeout(function() {
                  icon
                      .removeClass('fa-arrow-left')
                      .removeClass('fa-spin-fast')
                      .addClass('fa-bars');

              }, 800);
          } else {
              card.addClass('mc-active');

              window.setTimeout(function() {
                  icon
                      .removeClass('fa-bars')
                      .removeClass('fa-spin-fast')
                      .addClass('fa-arrow-left');

              }, 800);
          }
      });
  });
</script>
{% endblock %}
