{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">Tableau de bord</div>




<!-- si on est authentifié -->
                {% if app.user != null %}
                <h1> Bonjour {{app.user.name}} </h1>
                <a href="{{ path('configure')}}"> Configurer mon profil </a>
                <!-- gros du travail ici -->
                {% endif %}
            </div>










<!-- si on est pas identifié -->
            {% if app.user == null %}
              <a href="/login" class="btn btn-info"> Vous devez vous connecter pour accéder à votre compte.>></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
