{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}

<section style="margin-left:80px; margin-top:80px">
<h3>Vos données</h3>
<hr>
<h5>Compte :<h5>

  
<canvas id="myChart" style="padding-left:10px;" width="400" height="200"></canvas>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" type="text/javascript"></script>


{% endblock %}
