{% extends 'base.html.twig' %}
{% block body %}
{{ render(controller('AppBundle:Default:menu')) }}

<section style="margin-left:80px; margin-top:80px">
<h3>Vos données</h3>
<hr>
  {% if(deleted == true) %}
    <h5>Le compte et toutes ses données associées ont été supprimé des bases de données Apifit.</h5>
  {% else %}
    <h5> Le compte ne vous appartient pas ou n'existe pas. </h5>
  {% endif %}

<a role="button" href="/datamanager" class="btn btn-success"> Revenir à Mes données </a>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" type="text/javascript"></script>


{% endblock %}
