/*******************\
\      OUTILS       /
\*****************/


@font-face{
  font-family : "Weblysleek";
  src : url('../fonts/weblysleek_ui/weblysleekuil.ttf');
}

@font-face{
  font-family : "WeblysleekSL";
  src : url('../fonts/weblysleek_ui/weblysleekuisl.ttf');
}


html,
body {
  height: 100%;
  width:100%;
  font-family: "Weblysleek";
  margin: auto;
  max-width: 2000px;
  min-width: 500px;
}

h2
{
  color:#777777;
  font-size:9em;
}
h3
{
  color:#777777;
  font-size:3em!important;
}

li
{
  list-style:none;
}
a{
  text-decoration:none;
}

p
{

  font-size:1.4em;
  color:#777777;
}

/* CLASSES TABLEAU DE BORD  */

/*----------------*\
\------USERS------*/
.dashboard_users
{
  height:450px;
}

.widget
{
  position: relative;
  background: #FFF;
  padding-bottom:20px;
  border-radius: 4px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .1);
}
.widget h4, .widget h6
{
  text-align:center;
}

.widget > .cover
{
  height: 160px;
  overflow: hidden;
}

.widget > .cover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}

.widget > .photo
{
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #FFF;
  border-radius: 50%;
}


.widget > ul
{
  position: absolute;
  top: 20px;
  left: 100%;
  background: #175470;
  border-radius: 0 3px 3px 0;
}

.widget > ul > li > a
{
  display: block;
  padding: 5px 6px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2CD5CA;
  transition: background-color .3s;
}

.widget > ul > li:hover > a { background-color: #2CD5CA }
.widget > ul > li:first-child > a { border-radius: 0 3px 0 0 }

.widget > ul > li:last-child > a
{
  border: none;
  border-radius: 0 0 3px 0;
}

/*----------------*\
\---END USERS----*/


/*----------------*\
\--------Amis-----*/

.photos_amis{
  width:25px;
  height:25px;
  border-radius: 100%;
}
button .bouton_amis{
  test-align:left!important;
}
/*----------------*\
\---END Amis-----*/

.green{
  color:green;
}

.red{
  color: red;
}

.friends{
  height: 300px;
}

.scroll{
  height: 200px;
  overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

/* CLASSES CONFIG  */

/*----------------*\
\--------Config form-----*/

.panel-default form{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.style_post{
  padding:10px;
}

/*----------------*\
\---END Config form-----*/

/*SEARCH BAR*/
.searchbar{
  margin-top: 75px;

}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color:  #479ce7;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/*CLASSES COMMUNES*/

.centrer
{
  text-align:center;
}

.partenaire
{
  display: none;
}

.white{
  color:#fff;
}

.underline{
  text-decoration: underline;
}

.row{

 margin : 0 0 0 0;
}

.well
{
  padding-bottom: 0px!important;
}

/*******************\
\ CARROUSSEL-HEADER /
\*****************/

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}


.item>img{
  width:100%
}
.carousel-caption
{
  top:20%;
  left:50%!important;
  color:#fff;
}
.carousel-caption>h2{
  color:#fff;
}

.carousel-caption>p{
  color:#e7e7e7;
}

.banner_links{
  position:absolute;
  z-index:2;
  display:inline;
  top:1%;
  left:1%;
  width:98%;
  font-size: 22px !important;
  color:#e7e7e7;
  height:200px;
}

#float-left{
  float:left;
}

#float-right{
  float:right;
}
#connexion{
float:right;
}

#inscription{

}

#contact{
float:right;
}
.banner_links>h3{
  display:inline;
  text-shadow : 1px 1px #000;
}

.banner_links>

.banner_links:last-child{

}

.navbar-inverse{
    background-color: transparent;
    border: none;
}

/*******************\
\       MENU        /
\*****************/

.navbar-header
{
  float:left;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  padding:0;
  margin:0;
}


#accueil>div>h3{
  color:#777777;
  padding-bottom:50px;
}

#accueil{
  margin:10px 0 70px 0;
}

#btnmodal {
  margin: 10px 10px 10px 10px;
}


/*******************\
\     SERVICE       /
\*****************/

.process-step .btn:focus{outline:none}
.process{display:table;width:100%;position:relative;margin-top:-20px;}
.process-row{display:table-row}
.process-step button[disabled]{opacity:1 !important;filter: alpha(opacity=100) !important}
.process-row:before{top:40px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-order:0}
.process-step{display:table-cell;text-align:center;position:relative}
.process-step p{margin-top:4px}
.btn-circle{width:80px;height:80px;text-align:center;font-size:12px;border-radius:50%}

.btn-circle
{
	background-color:#337ab7;
	opacity:0.9;
}
.fa-user:before, .fa-line-chart:before, .fa-trophy:before, .fa-spinner:before, .fa-comments-o:before
{
	color:#ffffff;
}
.service small
{
	color:#ffffff;
}
.service h3, .service h4
{
	color:#ffffff;
	text-align:left;
	padding-top: 10px;
    padding-left: 70px;
}

.service
{
  background-image: url("../images/image-service.jpg");
  background-size:100%;
  background-color:#cccccc;
  height:70%;
  min-height:650px;
  margin: 30px 0 30px 0;
  padding: auto;

}
.service>h3{
  padding:90px 0 60px 150px;
  text-align: left;
}

.service>ul>li{
  margin-botom:30px;
}

.service>ul>li>img:hover{
  transform: scale(1.2);
}

.service>ul>li>h4{
  text-shadow: 1px 1px #000;

  color:#fff;
  font-size:18px;
  margin-bottom: 50px;
}

/*******************\
\      VIDEO        /
\*****************/
.video
{
  height:700px;
  margin-bottom: 70px;
}

.video>h3{
  padding:40px;
  color:#777777;

}

.contenu-video
{
  background-image: url("../images/ordi-video.png");
  background-repeat:no-repeat;
  background-size: contain;
  height:auto;
  width:750px;
  height:800px;
  margin:auto;

}

video{
  position:relative;
  top:32px;
  left:2px;
  height:auto;
  width:665px;
}
/*******************\
\      EQUIPE       /
\*****************/

.equipe
{
  background-image: url("../images/fond-equipe.jpg");
  height:auto;
  padding-bottom: 70px;
}

.equipe>h3{
  padding:40px;
  color:#fff;
}
.padding-icon-left{
  padding-left:10px;
}

.padding-icon-right{
  padding-right: 10px;
}
.equipe img
{
  width:100%;
}

.padding-icon{
  padding-left:5px;
}


/*.char:hover{
  border:3px solid #777777;
}*/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.home-doctors {
  text-align: center;
}

.home-doctors h2 {
    font-weight: normal;
}

.home-doctors .common-doctor {
  background-color: #fff;
}
.home-doctors .common-doctor figure {
  overflow: hidden;
  width: 100%;
	height: 196px;
}

.home-doctors img {
	width: 100%;
	height: auto;
	margin-top: 0em;
}

.home-doctors .common-doctor h5 {
  margin: 0 0 7px;
  font-size: 18px;
	font-weight: 700;
	color: #3a3c41;
}
.home-doctors .common-doctor .for-border {
  margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
  padding: 19px 14px 13px;
}
.home-doctors.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
  text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
  background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
  display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
  padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
  text-align: left;
}

.slogan-section {
	margin-bottom: 50px;
	text-align: center;
}

.home-doctors .common-doctor .for-border {
	margin-bottom: 20px;
}

.for-border {
	height: 11px;
	width: 100%;
	background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
	border: none;
}

.home-doctors .common-doctor h5 small {
	color: #008fd5;
	font-weight: bold;
	font-size: 0.8em;
	font-style: italic;
}

.home-doctors .common-doctor ul{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -28px;
	text-align: center;
	margin-top: 10em;
	opacity: 0;
	z-index: 1;
}

.home-doctors .common-doctor li a {
	background: #7f7f7f;
	color: white;
	padding: 0.75em;
	border: 3px solid rgba(255, 255, 255, 0.33);
  border-radius: 10px;
  opacity: 0.8;
}


.doc-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;

  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;

  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.doc-item:hover .social-lists{
	margin-top: -2em;
	opacity: 1;
}
/*=============== //Home-team ===============*/



/*******************\
\    PARTENAIRE     /
\*****************/

.partenaire img
{
  width:100%;
  padding:20px;
}
.partenaire{
  padding-bottom: 30px;
  padding: 20px 0 50px 0;
}
.partenaire > h3{
  padding:40px 40px 10px 40px;
}

/*******************\
\      CONTACT      /
\*****************/
.contacter
{
  background-image: url("../images/fond-contact.jpg");
  background-size: cover;
  height:800px;
}

.contacter>h3{
  color:#fff;
  padding:40px 40px 10px 40px;
  text-shadow: 2px 2px #000;

}

.contacter>p{
  color:#fff;
  text-shadow: 2px 2px #000;

}

.form-contact
{
  position:relative;
  top:10%;
  left:5%;
  width:80%;
}

#contact-form>h5{
  color:#777777;
}

.contacter img
{
  width:100%;
}

#success_message
{
  display: none;
}

.form-group
{
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom:5px;
  margin-top: 10px;
}

.form-horizontal
{
  width:40%;
}


/*******************\
\      FOOTER       /
\*****************/
footer
{

}
footer>p{
  margin-bottom: 20px;
}
.bottom-icon{
  width:40px;
  height:40px;
}

.rect
{
  position:relative;
  padding-top:3px;
  padding-left:2px;
  background-color:#fff;
  padding:20px;
  width:60px;
  height:60px;
  top:-55px;
  left:0%;
  border: 2px solid #fff;
}

.rect>img{
  width:60px;
  height:60px;
}

ul.social
{
	list-style:none;


}
ul.social li
{
	display:inline;
	padding: 0;
	margin:0 5px;
}
ul.social li a
{
	display:inline-block;
	margin:0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	position:relative;
	background-color: #D3D3D3;
}
ul.social li a i
{
	color:#FFF;
	text-align: center;
	margin:0;
	line-height:50px;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

ul.social li a:hover i{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
  -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

ul.social-network social-circle row{
  display: flex;
  justify-content: center;
}

.social li a.face:hover {background-color:#3B5998;}
.social li a.twit:hover {background-color:#33ccff;}
.social li a.youtube:hover {background-color:#BD3518;}
.social li a.linkedin:hover {background-color:#007bb7;}

#links>li{
  margin:auto;
  text-align: center;
  display:inline;
}
#links{
  padding-bottom: 20px;
}
#community{
  padding-bottom: 20px;
}
#community>li{
  display:inline;
}


/*COOKIES*/

#cookies{
  width:100%;
  background-color: #777777;
  color : #fff;
  margin:0;
  padding:10px;
  display:flex;
  position:fixed;
  left:0px;
  bottom:0px;
  font-size:14px;
  z-index:500;
  justify-content: space-around;
}


/*EN CONSTRUCTION*/

#showme{
  display:none;
}
#profile:hover #showme{
  display:block;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoYoutube:hover {
  background-color:#cd201f;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}


.essai{
  display: flex;
  justify-content: center;
}

.essai li {
  padding: 0px 5px 10px 5px;

}

.essai a{
  background: #b3b3b3;

}

textarea {
  resize: none;
}

.fondordi {
  padding-top: 100px;
}

.formsubmit {
  text-align: center;
  margin-bottom: 10px;
}

.list-inline a{
    background: grey;
    border-radius:10px;

}

#casemembres{
  max-width: 250px;
}

#centrerequipe{
  display: inline-block;
}


@media screen and (min-width:769px) and (max-width: 1279px){


  .carousel, .item, .active {
      height: auto;
  }

  .carousel-inner {
      height:20%;
  }
  .carousel-caption
  {
  	top:2%;
  	left:50%!important;
  }

  .carousel-caption>h2{
    font-size:13vw;
  }
  .carousel-caption>p{
    font-size:20px;
  }



  .service
  {
  background-image: url("../images/image-service.jpeg");
  background-size:cover;
  background-color:#cccccc;
  height:20%;
  margin: 30px 0 30px 0;

  }

}

.fondordi{
  padding-top: 100px;
}

.fondordi img{
  height: 200px;
  width: 200px;
}

.service {
  background-image: url("../images/image-service.jpg");
}

#equipe {
  padding-bottom: 10px;
}

#casemembres{
  display: inline-block;

}


@media screen and (min-width:1px) and (max-width: 768px){

#buttonleft{
  display: none;
}

 #legende{
  display: none;
 }

  .carousel, .item, .active {
      height: auto;
  }

  .carousel-inner {
      height:20%;
  }
  .carousel-caption
  {
  	top:2%;
  	left:50%!important;
  }

  .carousel-caption>h2{
    font-size:8vw;
  }
  .carousel-caption>p{
    font-size:14px;
  }


  .service
  {
    height:auto;
    margin:30px 0 50px 0;
    padding:auto;
    background-image: none;
  }

  .service>h3{
    text-align: center;
    padding:40px;
  }
  .service>ul>li>img{
    padding-right: 30px;
  }
  .char>h5>img{
    width:50%;
    margin-bottom:60px;
  }

  .logo-part>article>h5>img{
    width:50%;
    margin-bottom: 30px;
  }

  .contacter
  {
  	background-image: url("../images/fond-contact.jpg");
    background-size: cover;
    height:750px;
  }

  .contacter>h3{
    color:#fff;
    padding:40px 40px 10px 40px;
    text-shadow: 2px 2px #000;

  }
  .row{
    margin:0;
    padding:0;
    width:100%;
  }
  .contacter>p{
    color:#fff;
    text-shadow: 2px 2px #000;

  }

  .form-contact
  {
  	position:normal;
    width:90%;
  }

  .form-horizontal
  {
  	width:100%;

  }


  .video
  {
   height:700px;
   margin-bottom: 20px;
  }

  .contenu-video
  {
   background-image: url("../images/ordi-video.png");
   background-repeat:no-repeat;
   background-size: contain;
   height:auto;
   width:430px;
   height:800px;
   margin:auto;

  }
  video{
    position:relative;
    top:18px;
    left:1px;
    height:auto;
    width:380px;
  }
}

/*TRES PETITE RESOLUTION : SUPPRESION DE l'IMAGE DE L'IMAC*/

  @media screen and (min-width:1px) and (max-width: 452px){
 .contenu-video{
   background-image: none;
   width: 100%;
 }
 video{width:90%;}



.fondordi{
  padding-top: 30px;
}

.fondordi img{
  height: 100px;
  width: 100px;
}

.service {
  background-image: url("../images/image-service.jpg") no-repeats;
}

#casemembres{
  display: inline-block;
  margin: 10px 10px 10px 10px;

}

.equipe
{
  background-color: #ededed;
  background-repeat: no-repeat;
}
