/* -- Demo style ------------------------------- */
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.zone_affichage{
  margin-left:50px!important;
  margin-right:50px!important;
  margin-top:70px!important;
  margin-bottom:70px!important;
  width: 90%!important;
}
.position_btn_search{
  position:absolute;
  top:7px;
  left:180px!important;
}
.position_search{
  position:absolute;
  top:7px;
  border:1px solid #e8e8e8;
  border-radius:4px;
  height:35px;
}
.base{
  z-index:99!important;
}
.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1034;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.top-bar {
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
}
/* -- Google typography ------------------------------- */
.headline {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
/* -- Bootstrap-like style ------------------------------- */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-menu {
  display: none;
}
/* -- Constructor style ------------------------------- */
.constructor {
  position: relative;
  margin: 0;
  padding: 0 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar,
.wrapper {
  display: table-cell;
  vertical-align: top;
}
.sidebar-stacked.open + .wrapper .constructor {
  margin-left: 280px;
}
@media (max-width: 768px) {
  .sidebar-stacked.open + .wrapper .constructor {
    margin-left: 240px;
  }
}
/* -- Sidebar style ------------------------------- */
.sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:before,
.sidebar:after {
  content: " ";
  display: table;
}
.sidebar:after {
  clear: both;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}
.sidebar .sidebar-header {
  position: relative;
  height: 157.5px;
  margin-bottom: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-header.header-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sidebar .sidebar-header:hover .sidebar-toggle {
  opacity: 1;
}
.sidebar .sidebar-toggle {
  position: relative;
  float: right;
  margin: 16px;
  padding: 0;
  background-image: none;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
  content: " ";
  display: table;
}
.sidebar .sidebar-toggle:after {
  clear: both;
}
.sidebar .icon-material-sidebar-arrow:before {
  content: "\e610";
}
.sidebar .sidebar-image img {
  width: 80px;
  height: 80px;
  margin-top:20px;
  margin-bottom:10px;
  border-radius: 50%;
  margin-left:37%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand {
  position: absolute;<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;<li>
          <a href="#" tabindex="-1">
            D�fis
          </a>
        </li>
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-brand .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-brand .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  text-decoration: none;
}
.sidebar .sidebar-badge {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.sidebar .sidebar-badge.badge-circle {
  border-radius: 50%;
}
.sidebar .sidebar-divider,
.sidebar .sidebar-nav .divider {
  position: relative;
  display: block;
  height: 1px;
  margin: 8px 0;
  padding: 0;
  overflow: hidden;
}
.sidebar-nav{
	background:#f8f8f8;
	border: 1px solid #e7e7e7;
}
.sidebar .sidebar-text {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-text:hover,
.sidebar .sidebar-text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-text .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-text .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-icon {
  display: inline-block;
  margin-right: 16px;
  min-width: 40px;
  width: 40px;
  text-align: left;
  font-size: 20px;
}
.sidebar .sidebar-icon:before,
.sidebar .sidebar-icon:after {
  vertical-align: middle;
}
.sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
  height:100%;
}
.sidebar .sidebar-nav li {
  position: relative;
  list-style-type: none;
}
.sidebar .sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-nav li a .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-nav li a .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-nav li a:hover {
  background: transparent;
}
.sidebar .sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar-default {
  background-color: #fff;
}
.sidebar-default .sidebar-header {
  background-color: #eceff1;
}
.sidebar-default .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-default .sidebar-brand:hover,
.sidebar-default .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-default .sidebar-badge {
  color: #fff;
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-text {
  color: #212121;
}
.sidebar-default .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-default .sidebar-nav li:hover > a,
.sidebar-default .sidebar-nav li > a:hover {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav li:hover > a i,
.sidebar-default .sidebar-nav li > a:hover i {
  color: #757575;
}
.sidebar-default .sidebar-nav li:focus > a,
.sidebar-default .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li:focus > a i,
.sidebar-default .sidebar-nav li > a:focus i {
  color: #757575;
}
.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .active > a,
.sidebar-default .sidebar-nav > .active > a:hover,
.sidebar-default .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse {
  background-color: #212121;
}
.sidebar-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand:hover,
.sidebar-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse .sidebar-divider,
.sidebar-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-inverse .sidebar-text {
  color: #f5f5f5;
}
.sidebar-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav li > a i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:hover > a,
.sidebar-inverse .sidebar-nav li > a:hover {
  color: #bdbdbd;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav li:hover > a i,
.sidebar-inverse .sidebar-nav li > a:hover i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:focus > a,
.sidebar-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav li:focus > a i,
.sidebar-inverse .sidebar-nav li > a:focus i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .open > a,
.sidebar-inverse .sidebar-nav > .open > a:hover,
.sidebar-inverse .sidebar-nav > .open > a:focus {
  color: #bdbdbd;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .active > a,
.sidebar-inverse .sidebar-nav > .active > a:hover,
.sidebar-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .disabled > a,
.sidebar-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-inverse .sidebar-nav > .disabled > a:focus {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #000000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: #000;
}
.sidebar-colored {
  background-color: #fff;
}
.sidebar-colored .sidebar-header {
  background-color: #e91e63;
}
.sidebar-colored .sidebar-toggle {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand:hover,
.sidebar-colored .sidebar-brand:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored .sidebar-badge {
  color: #fff;
  background-color: #ec407a;
}
.sidebar-colored .sidebar-divider,
.sidebar-colored .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored .sidebar-text {
  color: #212121;
}
.sidebar-colored .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-colored .sidebar-nav li:hover > a,
.sidebar-colored .sidebar-nav li > a:hover {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav li:hover > a i,
.sidebar-colored .sidebar-nav li > a:hover i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav li:focus > a,
.sidebar-colored .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li:focus > a i,
.sidebar-colored .sidebar-nav li > a:focus i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav > .open > a,
.sidebar-colored .sidebar-nav > .open > a:hover,
.sidebar-colored .sidebar-nav > .open > a:focus {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .active > a,
.sidebar-colored .sidebar-nav > .active > a:hover,
.sidebar-colored .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored .sidebar-nav > .disabled > a,
.sidebar-colored .sidebar-nav > .disabled > a:hover,
.sidebar-colored .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored-inverse {
  background-color: #e91e63;
}
.sidebar-colored-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-colored-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand:hover,
.sidebar-colored-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-divider,
.sidebar-colored-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored-inverse .sidebar-text {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li > a i {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li:hover > a,
.sidebar-colored-inverse .sidebar-nav li > a:hover {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav li:hover > a i,
.sidebar-colored-inverse .sidebar-nav li > a:hover i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a,
.sidebar-colored-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a i,
.sidebar-colored-inverse .sidebar-nav li > a:focus i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .open > a,
.sidebar-colored-inverse .sidebar-nav > .open > a:hover,
.sidebar-colored-inverse .sidebar-nav > .open > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .active > a,
.sidebar-colored-inverse .sidebar-nav > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-colored-inverse .sidebar-nav > .disabled > a,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:focus {
  color: #bdbdbd;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar {
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}
.sidebar.open {
  min-width: 280px;
  width: 280px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-left,
.sidebar-fixed-right,
.sidebar-stacked {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1035;
}
.sidebar-stacked {
  left: 0;
}
.sidebar-fixed-left {
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
  right: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}
.sidebar-fixed-right.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (max-width: 768px) {
  .sidebar.open {
    min-width: 240px;
    width: 240px;
  }
  .sidebar .sidebar-header {
    height: 135px;
  }
  .sidebar .sidebar-image img {
    width: 44px;
    height: 44px;
  }
}




/*Social icons*/
.no-cushion {
  margin: 0;
  padding: 0;
}

.v_menu {
  width: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  position: fixed;
  top: 35%;
  right:0;
}
.v_menu ul {
  background: #f8f8f8;
  list-style: none;
  margin: 0;
  padding: 0;
}
.v_menu ul li {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-bottom: 1px solid #e7e7e7;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.v_menu ul li a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color:#777;
}
.v_menu ul li:hover {
  cursor: pointer;
  background: #e8e8e8;
}
.v_menu ul li:hover a {
  font-size: 120%;
  color: #175470;
}
.v_menu .v_menu_h {
  background: #175470;
  height: 3px;
  width: 50px;
  border-radius: 4px 4px 0 0;
}
.v_menu .v_menu_f {
  background: #175470;
  height: 3px;
  width: 50px;
  border-radius: 0 0 4px 4px ;
}
/*End Social icons*/
/*Footer*/
.footerp p {font-family: 'Gudea', sans-serif; }

.footer-bottom {
    background-color: #f8f8f8;
	position:fixed;
	bottom:0;
	border:1px solid #e7e7e7;
    min-height: 30px;
	border-radius:4px;
    width: 100%;
}
.copyright {
    color: #777;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
	margin-left:170px;
}
.design {
    color: #777;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #777;
}

/*End Footer*/

/*Modification style Bootstrap*/
.btn-default{
	/*height:34px!important;*/
}
.navbar{
	margin-bottom:0px!important;
  position:fixed;
  top:0;
}
.base.navbar{
  width:100%!important;
}
.navbar-brand{
	padding:5px 5px 5px 5px!important;
	line-height:40px!important;
}
.navbar-right{
	margin-right:450px!important;
  position: relative;
}
.navbar,.footer-bottom{
	margin-left:50px;
}

/*Fin Modification style Bootstrap*/



* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
}
.logo_icon{
  margin-top:-30px!important;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #f8f8f8;
  color: #fff;
  float: left;
  overflow: hidden;
  transition: width .3s ease-in-out;
  border:1px solid #e7e7e7;
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 100;
}

.sidebar:hover {
  width: 250px;
  overflow-y: auto;
}


.sidebar:hover .main-nav ul li a {
  opacity: 1;
  left: 0;
  color: #777;
  text-decoration: none;
}

.sidebar .main-nav ul li {
  min-height: 50px;
  line-height: 50px;
  position: relative;
}

.sidebar .main-nav ul li.logo {
  margin-bottom: 10px;
}

.sidebar .main-nav ul li.logo a {
  text-transform: uppercase;
}

.sidebar .main-nav ul li.logo i:before {
  color: #175470;
  font-size: 1.6em;
}

.sidebar .main-nav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-weight: 300;	width:197px;
}
.sidebar .main-nav ul li a:hover{
	color:#175470;
}

.sidebar .main-nav ul li i {
  font-weight: 100;
  position: absolute;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 0;
  color:#777;
  text-align: center;
}
.sidebar .main-nav ul li i img{
	width:30px
}

.sidebar .main-nav ul li i:before {
  font-size: 1.25em;
  transition: all .3s ease-in-out;
}

.sidebar .main-nav ul li:hover {
  background-color: #e8e8e8;
  border-left: 3px solid #175470;
}

.sidebar .main-nav li a:focus {
  border-left: 3px solid #175470;
}

.sidebar .main-nav ul li:hover i:before {
  color: #175470;
}

.sidebar:hover + .menu {
  transition: all 0.5s ease;
  position: relative;
  float: left;
}

nav:hover ~ .menu {
  transition: all 0.5s ease;
  position: relative;
}



/*dropdown*/
.menu, .menu1, .menu2, .menu3{
	position:absolute;
	cursor:pointer;
}
.menu{
  width:197px;
  top:0;
  right:50px;
  border: 1px solid #e7e7e7;
	border-radius: 4px;
}
.menu1{
  width:200px;
  right:280px;
}
.menu2{
  width:220px;
  right:420px;
}
.menu3{
  width:200px;
  right:250px;
}
.title1, .title2, .title3
{
	width:100%;
	position:relative;
	color:#505050;
  padding: 15px;
  margin-bottom: 20px;
}
.title{
	width:100%;
	box-sizing:border-box;
	background:#f8f8f8;
	padding:14px;
	border-radius:4px;
	position:relative;
	box-shadow:0 0 20px -10px #f8f8f8;
	color:#505050
}
span{
	float:right;
	font-size:18px!important
}
.position_notif{
  padding:10px;
}
.position_notif p{
  padding-left:28px;
  font-size:0.8em;
}
.position_notif a{
  color: #175470;
  text-decoration: none;
}
.position_notif em{
  font-size:0.7em;
}
.position_notif hr{
  margin-top:0!important;
  margin-bottom:0!important;
}
.rond_notif
{
  height:15px;
  width:15px;
  background:#ff0000;
  border-radius:100%;
  border:1px solid #e7e7e7;
  opacity:0.5;
}
.rond_notif
{
  position:relative;
  height:15px;
  width:15px;
  background:#ff0000;
  border-radius:100%;
  border:1px solid #e7e7e7;
  opacity:0.5;
}
.rond_notif:hover
{
  opacity:0.8;
}
.rond_notif em
{
  top: 1px;
  left: 3px;
  position:absolute;
  font-size:0.5em;
  color:#fff;
}
.bouton_accept{
  padding-left:30px;
}
.dropdown, .dropdown1, .dropdown2, .dropdown3{
	background:#fff;
	border-radius:4px;
	box-shadow:0 0 20px -10px #333;
	color:#505050;
	max-height:0;
	overflow:hidden;
	transition:all .1s
}
.down{
	max-height:170px
}
.police_dropdown{
  font-size:1em;
}
.dropdown p{
	padding:8px 8px;
	margin:0;
	transition:all .1s
}
.dropdown p:hover{
	background:#175470;
	color:rgba(255,255,255,0.8);
	border:1px solid #e7e7e7;
	border-radius:4px;
}
/*end dropdown*/
